###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

# jupyter/jupyterlab extensions
jupyter-server-proxy
jupyter-vscode-proxy
jupyterlab
jupyterlab-rise
ipywidgets

# lab-related packages
pymongo
imongo-kernel
pprintpp
